<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>
    Splurty was built by <a target="_blank" href="http://valeriengart.com">Val Ng</a> with the help of<a target="_blank" href="http://www.thefirehoseproject.com/team"> theFirehoseProject Team</a>. This splurty is all about time, because Val can't seem to get enough of it.
  </p>
  <br />
  <p>
  	Food for thought: 
  </p>
  <p>
  	There is no one time.
  
The earth is too inaccurate for modernity's time measurement, because its spin changes by up to a thousandth of a second in some years. The earth is an unpunctual planet, it keeps getting slowed down by its dalliance with the moon, whose gravitational pull creates orbital irregualarities 
<em>(taken from <a target="_blank" href="http://www.raqsmediacollective.net/">the Raqs Media Collective</a>'s 'Time/Space' art lecture series.  Read more <a target="_blank" href="http://www.raqsmediacollective.net/images/pdf/808485c8-3ad5-4e60-ba95-18a24984efa6.pdf">here</a>).</em>
</p>
<p>
We constructed the idea of mono-time. If time dallies with the moon, surely we can dally with time once in a while? 
</p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>
  <br />

<div class="col-xs-12 col-sm-4">
	<%= image_tag 'val.jpg', :class => 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
	<h2 class="text-center">Val Ng</h2>
	<br />
	<p>
		Val Ng is an artist residing in Boston. She has exhibited in Indonesia, Malaysia and the United States.  Her work explores questions of national identity, belonging, and displacement.
	</p>
	<p>
	Although originally from Malaysia, Val has lived in England, Senegal, and several cities across South-East Asia and the United States.
	</p>
	<p>
	She is currently trying to migrate to virtual reality.
		</p>
	</div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />